@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.form-label {
  @apply block text-sm font-semibold text-gray-700;
}

.form-input {
  @apply block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 text-base text-gray-900 placeholder-gray-500;
}

.form-input:focus {
  @apply border-indigo-500 focus:border-indigo-500 focus:ring-indigo-500;
}

.form-button {
  @apply flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

.text-button {
  @apply font-semibold text-indigo-600 hover:text-indigo-500;
}

